//
// Site Header (.site-header)
//
//***********************************************************************/
.site-header {
	display: flex;
	@include rem(padding, 50px);
	max-width: 850px;
}

	.site-header__title { text-align: center; @include rem(margin-right, 50px); }

		.site-header__logo-img { width: 200px; flex-basis: 200px; }
		.site-header__logo-txt { }

	.site-header__copy { max-width: 690px; }
		.site-header__intro { }

		.site-header__contact { }
			.site-header__availability-status { border-bottom: 1px solid $colour-border; }
			.site-header__contact-link { color: $grey--alt; }